html {
  text-align: center; }

body {
  position: relative;
  margin: 0 auto;
  font-family: Times, serif;
  width: 600px;
  color: #1f1f1f; }

a:link {
  text-decoration: none;
  color: #1f1f1f; }

a:hover {
  text-decoration: underline; }

a:visited {
  text-decoration: none;
  color: #1f1f1f; }

img {
  display: block;
  margin: 20px auto 40px auto; }

#about {
  font-size: 20px;
  border-top: 1px solid gray;
  line-height: 19px;
  text-align: justify;
  letter-spacing: -0.5px;
  font-family: "Arno Pro", "Baskerville", Times, serif; }

#portfolio {
  border-top: 1px solid gray;
  padding: 20px 0;
  text-align: left;
  font-size: 15px;
  font-family: Arial, sans-serif; }

.client {
  text-align: right;
  color: #333333;
  font-variant: small-caps;
  font-size: 22px;
  letter-spacing: -0.5px;
  padding-right: 20px; }

.text {
  padding: 10px 20px; }

.date {
  color: #1f1f1f;
  font-size: 11px;
  border-bottom: 1px dotted #333333;
  border-top: 1px dotted #333333; }

#contact {
  font-size: 60px;
  text-align: center;
  border-top: 1px solid gray;
  padding: 20px 0; }

#bottom {
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  border-top: 1px solid gray;
  padding: 20px 0; }
  #bottom a {
    color: #aaaaaa;
    font-family: Helvetica;
    font-size: 0.8em;
    padding: 0 0.8em; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.smallcaps {
  font-variant: small-caps;
  font-size: 13px; }

.highlight {
  color: #f38989; }

.gray {
  color: #333333; }

.resume {
  font-style: italic;
  text-decoration: underline; }
