- @layout = '_layouts/application'
- @head = capture_haml do
  %link{rel: 'stylesheet', href: 'public/application.css'}

%h1 Rob Law
%p
  I am a computer programmer living in San Francisco, California.
  %br
  I specialize in all aspects of web development, from server deployment to front end javascript and everything in between.
  %br
  %strong
    %em I create the whole banana.

%h2 Built
%ul
  %li
    %a{href: 'http://spreadthegame.com'} Spread the Game
    %p A fantasy style sports game you play with your friends. Instead of picking players, you pick the games.
  %li
    %a{href: 'http://madewithcolor.com'} Made with Color
    %p Host your portfolio, simply.
  %li
    %a{href: 'https://www.stunnerofthemonth.com'} Stunner of the Month
    %p Get a monthly prescription of stunt-juice.
  %li
    %a{href: 'http://sunrayse.herokuapp.com/'} SunRayse
    %p Solar products you can afford.
  %li
    %a{href: 'http://casaspanaca.com'} Casas Panaca
    %p Your paradise, now.
  %li
    %a{href: 'http://topolimotors.com'} Topoli Motors
    %p Great deals on used cars.
  %li
    %a{href: 'http://agentmachine.com'} Agent Machine
    %p Find the top 3 real estate agents in your area.

%h2 Projects
%ul
  / %li
  /   %a{href: 'http://remembertodie.com'} Remember to Die
  /   %p Memento Mori for the digital age.
  %li
    %a{href: '/throne'} Game of Thrones Infographic
    %p A weighted graph of character connections within scenes of HBO's <i>Game of Thrones</i>, Season 1.
  %li
    %a{href: '/bracket'} NBA Bracket Game
    %p A simple interface for displaying basketball bracket game results.
  %li
    %a{href: 'http://idealogue.heroku.com'} Idealogue
    %p A site to store ideas, quotes, and other textual trinkets.
  %li
    %a{href: 'http://robmadethis.com/snack'} Snack
    %p A small (less than 125 lines) framework for building static websites.
  %li
    %a{href: 'http://www.musictheorysite.com/namethatkey'} Name that Key
    %p A musicians tool to analyze chords and scales.

%h2 About
%ul
  %li
    %a{href: '/madebylaw'} madebylaw
    %p Web design and development.
  %li
    %a{href: 'http://github.com/robinator'} Github
    %p My public projects.
  %li
    %a{href: 'mailto:rob@robmadethis.com'} Contact
    %p rob@robmadethis.com