- @layout = '_layouts/application'
- @head = capture_haml do
	%link{:rel => 'stylesheet', :href => 'public/stylesheets/application.css'}
	//%script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
	//%script{:type => 'text/javascript', :src => 'public/javascripts/raphael-min.js'}
	//%script{:type => 'text/javascript', :src => 'public/javascripts/application.js'}

%h1 Rob Law

%h2 Projects
%ul
	%li
		%a{:href => 'http://idealogue.heroku.com'} Idealogue
		%p A site to store ideas, quotes, and other textual trinkets.
	%li
		%a{:href => 'http://robinator.github.com/snack'} Snack
		%p A small (less than 125 lines) framework for building static websites.
	%li
		%a{:href => 'http://namethatkey.com'} Name that Key
		%p A musicians tool to analyze chords and scales.

%h2 About
%ul
	%li
		%a{:href => '/madebylaw.html'} Madebylaw
		%p Web design and development.
