body {
  font-family: Helvetica, Verdana, sans-serif;
  background: white;
  color: #222222;
  margin: 1em; }

h1 {
  font-size: 2em;
  margin: 0;
  display: inline;
  font-variant: small-caps;
  background-color: #38d84e;
  padding: 0px 10px;
  color: white; }
  h1:hover {
    color: #38d84e;
    background-color: white;
    cursor: pointer; }

a {
  cursor: pointer; }
  a:link, a:visited {
    text-decoration: none; }
  a:hover {
    text-decoration: underline; }

footer {
  font-size: 13px;
  padding: 20px 0px;
  display: block; }
  footer a {
    font-family: Helvetica;
    font-size: 0.8em;
    padding-right: 0.8em; }
