body {
  font-family: Helvetica, Verdana, sans-serif;
  text-align: center; }

footer {
  font-size: 13px;
  padding: 20px 0px;
  display: block; }
  footer p {
    font-size: 0.8em; }

h1 {
  margin-bottom: 0; }

ul {
  list-style-type: none;
  line-height: 25px; }

.node.edge circle {
  display: none; }
.node circle {
  cursor: pointer;
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px; }
.node text {
  font: 10px sans-serif; }

path.link {
  fill: none;
  stroke: #cccccc;
  stroke-width: 1.5px; }

table {
  border: none;
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: fixed; }
  table td, table th {
    border: none;
    padding: 5px; }
  table td {
    width: 40px;
    height: 40px;
    border: 3px solid white;
    font-size: 11px;
    background-color: #eeeeee; }
    table td.name {
      background-color: #cceeff; }
    table td.right {
      background-color: #ccffd1; }
    table td.and1 {
      background-color: #66ff74; }
    table td.wrong {
      background-color: #ffd0cc; }

.modified {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  font-style: italic; }
