body
	font-family: Helvetica, Verdana, sans-serif
	background: #ddd
	color: #555
	text-align: center

h1
	margin-top: 22%
	font-size: 6em
	font-variant: small-caps
	position: absolute
	left: 50%
	width: 500px
	margin-left: -250px