body
  font-family: Helvetica, Verdana, sans-serif
  text-align: center

footer
  font-size: 13px
  padding: 20px 0px
  display: block
  p
    font-size: 0.8em
h1
  margin-bottom: 0

ul
  list-style-type: none
  line-height: 25px

svg
  margin: 30px 0px 10px -15px

.node
  &.edge
    circle
      display: none
  circle
    cursor: pointer
    fill: #fff
    stroke: steelblue
    stroke-width: 1.5px
  text
    font: 11px sans-serif

path.link
  fill: none
  stroke: #ccc
  stroke-width: 1.5px

table
  border: none
  border-collapse: collapse
  margin: 0 auto
  table-layout: fixed
  td, th
    border: none
    padding: 5px
  td
    width: 40px
    height: 40px
    border: 3px solid #fff
    font-size: 11px
    background-color: #eee
    &.name
      background-color: #CCEEFF
    &.team
      font-weight: bold
    &.right
      color: #37B24D !important
      background-color: #CCFFD1 !important
    &.and1
      color: #2F9E44 !important
      background-color: #66FF74 !important
    &.wrong
      color: #FA5252 !important
      background-color: #FFD0CC !important
    &.warriors
      color: #04529c
      background-color: lighten(#FFCC33, 0%)
    &.cavs
      color: #FFD700
      background-color: lighten(#b3121d, 0%)
    &.celtics
      color: #ffffff
      background-color: lighten(#009E60, 0%)
    &.raptors
      color: #ffffff
      background-color: lighten(#2a2185, 0%)
    &.spurs
      color: lighten(#BEC8C9, 10%)
      background-color: lighten(#000000, 0%)
    &.wizards
      color: lighten(#C60C30, 15%)
      background-color: lighten(#002244, 0%)
    &.jazz
      color: #FF9100
      background-color: lighten(#00275D, 0%)
    &.clippers
      color: #ffffff
      background-color: lighten(#EE2944, 0%)
    &.rockets
      color: #CE1138
      background-color: lighten(#CCCCCC, 0%)
    &.thunder
      color: lighten(#F05133, 15%)
      background-color: lighten(#007DC3, 0%)
    &.hawks
      color: #FF0000
      background-color: lighten(#FFFFFF, 0%)
    &.suns
      color: #423189
      background-color: lighten(#FF8800, 0%)
    &.mavs
      color: #A9A9A9
      background-color: lighten(#0b60ad, 0%)
    &.nuggets
      color: #fdb827
      background-color: lighten(#4b90cd, 0%)
    &.bucks
      color: #E32636
      background-color: lighten(#003614, 0%)
    &.magic
      color: #ffffff
      background-color: lighten(#0047AB, 0%)
    &.sixers
      color: #0046AD
      background-color: lighten(#D0103A, 0%)
    &.knicks
      color: #FF7518
      background-color: lighten(#0953a0, 0%)
    &.wolves
      color: #50c878
      background-color: lighten(#0F4D92, 0%)
    &.lakers
      color: #F5AF1B
      background-color: lighten(#4A2583, 0%)
    &.pacers
      color: #ffc322
      background-color: lighten(#092c57, 0%)

.modified
  position: absolute
  top: 10px
  right: 10px
  font-size: 12px
  font-style: italic

