body
  font-family: Helvetica, Verdana, sans-serif
  text-align: center

footer
  font-size: 13px
  padding: 20px 0px
  display: block
  p
    font-size: 0.8em
h1
  margin-bottom: 0

ul
  list-style-type: none
  line-height: 25px

svg
  margin: 30px 0px 10px -15px

.node
  &.edge
    circle
      display: none
  circle
    cursor: pointer
    fill: #fff
    stroke: steelblue
    stroke-width: 1.5px
  text
    font: 11px sans-serif

path.link
  fill: none
  stroke: #ccc
  stroke-width: 1.5px

table
  border: none
  border-collapse: collapse
  margin: 0 auto
  table-layout: fixed
  td, th
    border: none
    padding: 5px
  td
    width: 40px
    height: 40px
    border: 3px solid #fff
    font-size: 11px
    background-color: #eee
    &.name
      background-color: #CCEEFF
    &.right
      background-color: #CCFFD1
    &.and1
      background-color: #66FF74
    &.wrong
      background-color: #FFD0CC
    &.warriors
      font-weight: bold
      color: #04529c
      background-color: lighten(#FFCC33, 0%)
    &.cavs
      font-weight: bold
      color: #FFD700
      background-color: lighten(#b3121d, 0%)
    &.celtics
      font-weight: bold
      color: #ffffff
      background-color: lighten(#009E60, 0%)
    &.raptors
      font-weight: bold
      color: #ffffff
      background-color: lighten(#2a2185, 0%)
    &.spurs
      font-weight: bold
      color: lighten(#BEC8C9, 10%)
      background-color: lighten(#000000, 0%)
    &.wizards
      font-weight: bold
      color: lighten(#C60C30, 15%)
      background-color: lighten(#002244, 0%)
    &.jazz
      font-weight: bold
      color: #FF9100
      background-color: lighten(#00275D, 0%)
    &.clippers
      font-weight: bold
      color: #ffffff
      background-color: lighten(#EE2944, 0%)
    &.rockets
      font-weight: bold
      color: #CE1138
      background-color: lighten(#CCCCCC, 0%)
    &.thunder
      font-weight: bold
      color: lighten(#F05133, 15%)
      background-color: lighten(#007DC3, 0%)
    &.hawks
      font-weight: bold
      color: #FF0000
      background-color: lighten(#FFFFFF, 0%)

.modified
  position: absolute
  top: 10px
  right: 10px
  font-size: 12px
  font-style: italic

