body
  font-family: Helvetica, Verdana, sans-serif

footer
  font-size: 13px
  padding: 20px 0px
  display: block
  p
    font-size: 0.8em


.node
  &.edge
    circle
      display: none
  circle
    cursor: pointer
    fill: #fff
    stroke: steelblue
    stroke-width: 1.5px
  text
    font: 10px sans-serif

path.link
  fill: none
  stroke: #ccc
  stroke-width: 1.5px
