.top
	= img 'logo.jpg'
#about
	%p
		%span.italic Welcome!
		I am web designer and developer based in San Francisco, California that specializes in tailor-made web design and web publishing solutions.	Please peruse my portfolio of past design projects or check out my
		%a{:href => "Resume - Robert Law.pdf"}
			%span.resume resume
		and if you are interested in a quote, or have any further questions or comments, feel free to contact me at the address below.
#portfolio
	%table
		%tr
			%td.client
				%a{:href => "http://stop-killing.org"} Stop Killing
			%td.text
				%span.date> Winter 2008
				\ Designed for the
				= succeed "." do
					%span.smallcaps Global Campaign to Stop Killing and Stoning Women
				Implemented in Drupal CMS, this website is fully updateable and customizable by the campaign staff. I am the current webmaster of this site.
		%tr
			%td.client
				%a{:href => "http://varietyour.com"} Variety Our
			%td.text
				%span.date> Fall 2007
				\ Designed for an art community initiative based in Chicago.	Users update, tag, niche and comment on local art trajectories.	Built in Drupal CMS, I am the current webmaster for this site.
		%tr
			%td.client
				%a{:href => "#"} Institute of Continuing Education for Licensed Professionals
			%td.text
				%span.date> Summer 2007
				\ Designed for the
				= succeed "," do
					%span.smallcaps Institute for Continuing Education of Licensed Professionals
				an online teaching website. I designed the website and styled the online classroom software as well.
				%br/
				%span.italic Note: This site is currently under construction and the link is the design in progress.
		%tr
			%td.client
				%a{:href => "#"} University Community Service Center
			%td.text
				%span.date> Summer 2006
				\ Designed for the
				= succeed "." do
					%span.smallcaps University Community Service Center at the University of Chicago
				The organization specializes in connecting students from the University to community service opportunities throughout Chicago.
				%br/
				%span.italic Note: This site has been modified by a third-party recently, although most of the site is my original design.
		%tr
			%td.client
				%a{:href => "#"} Moda
			%td.text
				%span.date> Summer 2006
				\ Moda is a student run fashion organization at the University of Chicago. The website has been redesigned since.	I am the current webmaster of the new
				%a{:href => "http://moda.uchicago.edu"}
					%span.gray moda
		%tr
			%td.client
				%a{:href => "#"} Vita Excolatur
			%td.text
				%span.date> Spring 2005
				\ Designed for Vita Excolatur, an erotic art magazine published by students at the University of Chicago. Leadership shifts and privacy issues have plagued an online Vita, but the site is ready to be taken over.
				%br/
				%span.italic Note: The site currently has no erotic content on it!
#contact
	%a{:href => "mailto:info@varietyour.com"}
		%span.italic
			info
			%span.highlight> @
			varietyour.com
#bottom
	%script{:src => "http://www.google-analytics.com/urchin.js", :type => "text/javascript"}
	:javascript
		_uacct = "UA-1770297-1";
		urchinTracker();