- @layout = '../_layouts/application'
- @head = capture_haml do
  %link{rel: 'stylesheet', href: '/public/bracket.css'}

%h1 NBA Playoff Brackets
%ul
  %li
    %a{href: '/bracket/2013'} 2013
  %li
    %a{href: '/bracket/2012'} 2012